urllib3==2.2.3
pickleshare==0.7.5
cycler==0.12.1
GitPython==3.1.43
prompt_toolkit==3.0.48
importlib_metadata==8.5.0
box2d-py==2.3.5
proglog==0.1.10
docker-pycreds==0.4.0
mkl_random==1.2.7
idna==3.7
Brotli==1.0.9
ptyprocess==0.7.0
matplotlib==3.5.3
matplotlib-inline==0.1.7
parso==0.8.4
smmap==5.0.1
PyYAML==6.0.2
typing_extensions==4.11.0
wcwidth==0.2.13
ipdb==0.13.9
setuptools==75.1.0
PyVirtualDisplay==3.0
imageio==2.36.0
PySocks==1.7.1
zipp==3.20.2
setproctitle==1.3.3
pygame==2.6.1
sumtree==0.2.7
torchvision==0.13.1
wandb==0.18.1
python-dateutil==2.9.0.post0
fonttools==4.54.1
pillow==10.4.0
pyparsing==3.2.0
platformdirs==4.3.6
backcall==0.2.0
Farama-Notifications==0.0.4
six==1.16.0
requests==2.32.3
charset-normalizer==3.3.2
gymnasium==0.29.1
traitlets==5.14.3
gitdb==4.0.11
pip==24.2
packaging==24.1
tqdm==4.66.5
imageio-ffmpeg==0.5.1
ipython==7.34.0
protobuf==5.28.2
toml==0.10.2
decorator==4.4.2
opencv-python==4.6.0.66
torchaudio==0.12.1
wheel==0.44.0
cloudpickle==3.1.0
kiwisolver==1.4.7
pexpect==4.9.0
psutil==6.0.0
mkl-service==2.4.0
numpy==1.23.0
swig==4.2.1
sentry-sdk==2.17.0
click==8.1.7
mkl_fft==1.3.10
Pygments==2.18.0
certifi==2024.8.30
jedi==0.19.1
torch==1.12.1
moviepy==1.0.3
